@import "tailwindcss";
@import "tw-animate-css";

@plugin "tailwindcss-animate";

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
  
  button:not(:disabled),
  [role="button"]:not([aria-disabled="true"]),
  [type="button"]:not(:disabled),
  [type="submit"]:not(:disabled),
  [type="reset"]:not(:disabled),
  a[href],
  select:not(:disabled),
  input[type="checkbox"]:not(:disabled),
  input[type="radio"]:not(:disabled) {
    @apply cursor-pointer;
  }
}
